</div>
<div class="jumbotron jumbotron-fluid pb-5">
  <div class="container text-center">
    <h1 class="display-1-resp mb-4"><%= fa_icon('anchor') %> <%= fa_icon('heart', class: 'text-danger') %> <%= fa_icon('youtube') %></h1>

    <p class="lead mb-4">Monitor destination URL health and edit your links any time.
      <br>Simple solution for Youtubers, advertisers and content managers. Never loose a single
      click.</p>
    <p class="lead">
      <%= link_to 'Sign up & start shortening', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>
<div>